<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    
    <form action="POST" method="/">
      <label>Please enter text here:<input type="text" name="string">
      </label>
      <button type="submit" value="submit">Submit</button>
    </form>
  
  </body>
</html>