<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    
    <form method="POST" action="/piglatinize" >
      <label>Enter your phrase:<input type="text" name="user_phrase">
      </label>
      <button type="submit" value="submit">Submit</button>
    </form>
  
  </body>
</html>